# Loading required packages

In [34]:
!pip install pyarrow

import pandas as pd
import numpy as np


#required for reading .xml files
import xml.etree.ElementTree as ET

#required for navigating machine's directory
import glob
import os.path

#required for communicating with SQL database
from sqlalchemy import create_engine
from sqlalchemy.exc import SQLAlchemyError

Defaulting to user installation because normal site-packages is not writeable
Collecting pyarrow
  Downloading pyarrow-16.0.0-cp310-cp310-manylinux_2_28_x86_64.whl (40.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.8/40.8 MB 15.1 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: numpy>=1.16.6 in /home/ubuntu/.local/lib/python3.10/site-packages (from pyarrow) (1.26.4)
Installing collected packages: pyarrow
Successfully installed pyarrow-16.0.0

In [3]:

# the postgresql address for SQL base coonection
conn_string = 'postgresql://admin:de300SPRING2024@joker.549787090008.us-east-2.redshift-serverless.amazonaws.com:5439/dev'

### Utility function for writing data into the SQL database

In [49]:
def insert_to_table(data: pd.DataFrame, table_name:str):
    db = create_engine(conn_string)
    conn = db.connect()
    data.to_sql(table_name, conn, if_exists="replace", index=False)
    print("Done inserting to the table")
    conn.close()

# Step one : Extract data from ./data/ folder

In [2]:
all_files = glob.glob('./data/*')

# Output the list of files
for file in all_files:
    print(file)

./data/used_car_prices2.xml
./data/used_car_prices3.json
./data/used_car_prices2.csv
./data/used_car_prices3.xml
./data/used_car_prices1.xml
./data/used_car_prices2.json
./data/used_car_prices3.csv
./data/used_car_prices1.json
./data/used_car_prices1.csv

### Function to extract data from one .csv file

In [5]:
def extract_from_csv(file_to_process: str) -> pd.DataFrame:
    
    df = pd.read_csv(file_to_process)
    # drop column with na
    df = df.dropna(axis=1, how='all')
    
    return df

### Test for extrac_from_csv()

In [6]:
df = extract_from_csv(all_files[2])
df.head(2)

  car_model  year_of_manufacture         price    fuel
0  alto 800                 2017   4253.731343  Petrol
1      ciaz                 2015  10223.880597  Diesel

### Function to extract data from one .json file

In [7]:
def extract_from_json(file_to_process: str) -> pd.DataFrame:
    
    df = pd.read_json(file_to_process,lines=True)
    # drop column with na
    df = df.dropna(axis=1, how='all')

    return df

### Test for extract_from_json()

In [8]:
df = extract_from_json(all_files[1])
df.head(2)

  car_model  year_of_manufacture         price    fuel
0  fortuner                 2012  22238.805970  Diesel
1  fortuner                 2015  34328.358209  Diesel

### Function to extract data from one  .xml file

In [9]:
def extract_from_xml(file_to_process: str) -> pd.DataFrame:
    columns = ['car_model','year_of_manufacture','price', 'fuel']
    dataframe = pd.DataFrame(columns = columns)
    tree = ET.parse(file_to_process)
    root = tree.getroot()
    for person in root:
        car_model = person.find("car_model").text
        year_of_manufacture = int(person.find("year_of_manufacture").text)
        price = float(person.find("price").text)
        fuel = person.find("fuel").text
        sample = pd.DataFrame({"car_model":car_model, "year_of_manufacture":year_of_manufacture, "price":price, "fuel":fuel}, index = [0])
        dataframe = pd.concat([dataframe, sample], ignore_index=True)
    return dataframe

### Test extract_from_xml()

In [41]:
df = extract_from_xml(all_files[0])
df.head(2)

/tmp/ipykernel_2099/2390902476.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dataframe = pd.concat([dataframe, sample], ignore_index=True)

       car_model year_of_manufacture        price    fuel
0     etios liva                2014  5895.522388  Diesel
1  corolla altis                2011  6716.417910  Diesel

### Function to extract data from the ./data/ folder

In [42]:
def extract():
    extracted_data = pd.DataFrame(columns=columns)
    print("Initial shape:", extracted_data.shape)
    
    print("Starting CSV extraction...")
    for csv_file in glob.glob(os.path.join(folder, "*.csv")):
        print(f"Processing {csv_file}...")
        extracted_data = pd.concat([extracted_data, extract_from_csv(csv_file)], ignore_index=True)
    print("CSV extraction completed.")

    print("Starting JSON extraction...")
    for json_file in glob.glob(os.path.join(folder, "*.json")):
        print(f"Processing {json_file}...")
        extracted_data = pd.concat([extracted_data, extract_from_json(json_file)], ignore_index=True)
    print("JSON extraction completed.")

    print("Starting XML extraction...")
    for xml_file in glob.glob(os.path.join(folder, "*.xml")):
        print(f"Processing {xml_file}...")
        extracted_data = pd.concat([extracted_data, extract_from_xml(xml_file)], ignore_index=True)
    print("XML extraction completed.")

    return extracted_data

### Extract the data

In [43]:
columns = ['car_model','year_of_manufacture','price', 'fuel']
folder = "data"
#table_name = "car_data"

# run
def main():
    data = extract()
    #insert_to_table(data, "car_data")
    
    return data

data = extract()
print("Shape after loading data:", data.shape)

Initial shape: (0, 4)
Starting CSV extraction...
Processing data/used_car_prices2.csv...
Processing data/used_car_prices3.csv...
Processing data/used_car_prices1.csv...
CSV extraction completed.
Starting JSON extraction...
Processing data/used_car_prices3.json...
Processing data/used_car_prices2.json...
Processing data/used_car_prices1.json...
JSON extraction completed.
Starting XML extraction...
Processing data/used_car_prices2.xml...
Processing data/used_car_prices3.xml...
Processing data/used_car_prices1.xml...
XML extraction completed.
Shape after loading data: (90, 4)

/tmp/ipykernel_2099/3779425535.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  extracted_data = pd.concat([extracted_data, extract_from_csv(csv_file)], ignore_index=True)
/tmp/ipykernel_2099/2390902476.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dataframe = pd.concat([dataframe, sample], ignore_index=True)
/tmp/ipykernel_2099/2390902476.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dataframe = pd.concat([dataframe, sample], ignore_index=True)
/tmp/ipykernel_2099/2390902476.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dataframe = pd.concat([dataframe, sample], ignore_index=True)

# Step Two: Transformation of the data

In [45]:
staging_file = "cars.parquet"
staging_data_dir = "staging_data"

def transform(df):
    #db = create_engine(conn_string)

    #df = pd.read_sql_query(f'SELECT * FROM {table_name}',con=db)

    print(f"Shape of data before transformation {df.shape}")

    # Truncate price with 2 decimal places
    df['price'] = np.trunc(df['price'] * 100) / 100
    

    # Remove duplicates based on car_model, keep the first occurrence
    df = df.drop_duplicates(subset=['car_model'], keep='first')
    
    
    print(f"Shape of data after transformation {df.shape}")

    # write to parquet
    if not os.path.exists(staging_data_dir):
        os.makedirs(staging_data_dir)
    df.to_parquet(os.path.join(staging_data_dir, staging_file))

### Transforming the data

In [46]:
transform(data)

Shape of data before transformation (90, 4)
Shape of data after transformation (25, 4)



# Step Three : Loading data for further modeling

In [47]:
# read from the .parquet file

def load() -> pd.DataFrame:
    data = pd.DataFrame()
    for parquet_file in glob.glob(os.path.join(staging_data_dir, "*.parquet")):
        data = pd.concat([pd.read_parquet(parquet_file),data])

    #insert_to_table(data, table_name)

    return data

### Check the data head & shape

In [48]:
data = load()
print(data.head())
print(data.shape)

  car_model  year_of_manufacture     price    fuel
0  alto 800                 2017   4253.72  Petrol
1      ciaz                 2015  10223.87  Diesel
3    ertiga                 2015   9104.46  Petrol
4     dzire                 2009   3358.20  Petrol
8   wagon r                 2015   4850.74     CNG
(25, 4)