# Loading required packages

In [1]:
import pandas as pd

#required for reading .xml files
import xml.etree.ElementTree as ET

#required for navigating machine's directory
import glob
import os.path

#required for communicating with SQL database
from sqlalchemy import create_engine

In [2]:

# the postgresql address for SQL base coonection
conn_string = 'postgresql://admin:de300SPRING2024@dd300spring2024.549787090008.us-east-2.redshift-serverless.amazonaws.com:5439/dev'

### Utility function for writing data into the SQL database

In [3]:
def insert_to_table(data: pd.DataFrame, table_name:str):
    db = create_engine(conn_string)
    conn = db.connect()
    data.to_sql(table_name, conn, if_exists="replace", index=False)
    conn.close()

# Step one : Extract data from ./data/ folder

In [4]:
all_files = glob.glob('./data/*')

# Output the list of files
for file in all_files:
    print(file)

./data/used_car_prices2.xml
./data/used_car_prices3.json
./data/used_car_prices2.csv
./data/used_car_prices3.xml
./data/used_car_prices1.xml
./data/used_car_prices2.json
./data/used_car_prices3.csv
./data/used_car_prices1.json
./data/used_car_prices1.csv

### Function to extract data from one .csv file

In [5]:
def extract_from_csv(file_to_process: str) -> pd.DataFrame:
    
    df = pd.read_csv(file_to_process)
    # drop column with na
    df = df.dropna(axis=1, how='all')
    
    return df

### Test for extrac_from_csv()

In [6]:
df = extract_from_csv(all_files[2])
df.head(2)

  car_model  year_of_manufacture         price    fuel
0  alto 800                 2017   4253.731343  Petrol
1      ciaz                 2015  10223.880597  Diesel

### Function to extract data from one .json file

In [7]:
def extract_from_json(file_to_process: str) -> pd.DataFrame:
    
    df = pd.read_json(file_to_process,lines=True)
    # drop column with na
    df = df.dropna(axis=1, how='all')

    return df

### Test for extract_from_json()

In [8]:
df = extract_from_json(all_files[1])
df.head(2)

  car_model  year_of_manufacture         price    fuel
0  fortuner                 2012  22238.805970  Diesel
1  fortuner                 2015  34328.358209  Diesel

### Function to extract data from one  .xml file

In [11]:
def extract_from_xml(file_to_process: str) -> pd.DataFrame:
    columns = ['car_model','year_of_manufacture','price', 'fuel']
    dataframe = pd.DataFrame(columns = columns)
    tree = ET.parse(file_to_process)
    root = tree.getroot()
    for person in root:
        car_model = person.find("car_model").text
        year_of_manufacture = int(person.find("year_of_manufacture").text)
        price = float(person.find("price").text)
        fuel = person.find("fuel").text
        sample = pd.DataFrame({"car_model":car_model, "year_of_manufacture":year_of_manufacture, "price":price, "fuel":fuel}, index = [0])
        dataframe = pd.concat([dataframe, sample], ignore_index=True)
    return dataframe

In [13]:
def extract_from_xml(xml_file):
    tree = ET.parse(xml_file)
    root = tree.getroot()
    
    # Assuming XML structure is known and consistent
    # You need to adapt the extraction logic to your specific XML structure
    data = []
    for elem in root:
        entry = {child.tag: child.text for child in elem}
        data.append(entry)

    return pd.DataFrame(data)

In [14]:
df = extract_from_xml(all_files[0])
df.head(2)

       car_model year_of_manufacture              price    fuel
0     etios liva                2014  5895.522388059701  Diesel
1  corolla altis                2011  6716.417910447762  Diesel

### Function to extract data from the ./data/ folder

In [15]:
def extract() -> pd.DataFrame:
    extracted_data = pd.DataFrame(columns = columns)
    #for csv files
    for csv_file in glob.glob(os.path.join(folder, "*.csv")):
        extracted_data = pd.concat([extracted_data, extract_from_csv(csv_file)], ignore_index=True)
    
    # For JSON files
    for json_file in glob.glob(os.path.join(folder, "*.json")):
        extracted_data = pd.concat([extracted_data, extract_from_json(json_file)], ignore_index=True)
    
    # For XML files
    for xml_file in glob.glob(os.path.join(folder, "*.xml")):
        extracted_data = pd.concat([extracted_data, extract_from_xml(xml_file)], ignore_index=True)
    
    return extracted_data

In [10]:
def extract() -> pd.DataFrame:
    extracted_data = pd.DataFrame(columns=columns)
    # For CSV files
    for csv_file in glob.glob(os.path.join(folder, "*.csv")):
        try:
            extracted_data = pd.concat([extracted_data, extract_from_csv(csv_file)], ignore_index=True)
        except Exception as e:
            print(f"Error processing {csv_file}: {e}")
    
    # For JSON files
    for json_file in glob.glob(os.path.join(folder, "*.json")):
        try:
            extracted_data = pd.concat([extracted_data, extract_from_json(json_file)], ignore_index=True)
        except Exception as e:
            print(f"Error processing {json_file}: {e}")
    
    # For XML files
    for xml_file in glob.glob(os.path.join(folder, "*.xml")):
        try:
            extracted_data = pd.concat([extracted_data, extract_from_xml(xml_file)], ignore_index=True)
        except Exception as e:
            print(f"Error processing {xml_file}: {e}")
    
    return extracted_data

### Extract the data

In [ ]:
columns = ['car_model','year_of_manufacture','price', 'fuel']
folder = "data"
table_name = "car_data"

# run
def main():
    data = extract()
    insert_to_table(data, "car_data")
    
    return data

data = main()

/tmp/ipykernel_20226/1153111886.py:5: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  extracted_data = pd.concat([extracted_data, extract_from_csv(csv_file)], ignore_index=True)

In [ ]:
print("Ziad")

# Step Two: Transformation of the data

In [ ]:
staging_file = "cars.parquet"
staging_data_dir = "staging_data"

def transform(df):
    #db = create_engine(conn_string)

    #df = pd.read_sql_query(f'SELECT * FROM {table_name}',con=db)

    print(f"Shape of data {df.shape}")

    # truncate price with 2 decimal place (add your code below)
    

    # remove samples with same car_model (add your code below)
    
    
    print(f"Shape of data {df.shape}")

    # write to parquet
    df.to_parquet(os.path.join(staging_data_dir, staging_file))

In [ ]:
#print the head of your data



# Step Three : Loading data for further modeling

In [ ]:
# read from the .parquet file

def load() -> pd.DataFrame:
    data = pd.DataFrame()
    for parquet_file in glob.glob(os.path.join(staging_data_dir, "*.parquet")):
        data = pd.concat([pd.read_parquet(parquet_file),data])

    #insert_to_table(data, table_name)

    return data

data = load()
print(data.shape)